* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.carousel {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    flex-wrap: nowrap;
    flex-shrink: 0;
    height: 100vh;
    position: relative;
    transition: all 0.5s ease-in-out;
    width: 100%;
}

.slider section {
    align-items: center;
    color: white;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    font-weight: 700;
    height: 100%;
    justify-content: center;
    width: 100vw;
}

.arrow {
    color: white;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
}

.arrow.prev {
    left: 15px;
}

.arrow.next {
    right: 15px;
}